<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>邢小白的个人博客</title>
    <link rel="stylesheet" th:href="@{/layui/layui/css/layui.css}" media="all"/>
    <script type="text/javascript" th:src="@{/layui/layui/layui.js}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/wangEditor.js}"></script>
    <link rel="stylesheet" th:href="@{/css/one.css}">
    <link rel="stylesheet" th:href="@{/css/gg.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/msg.css}">

</head>
<body>
<!-------------头部----------------->
<div class="tou_1">
    <div th:replace="~{head :: head}"></div>
</div>
<!--博客文章字体-->
<div class="mai" style="background-color: white">

    <div class="bk" >
    <!--标题-->
    <h2 class="wz_text_bt" th:text="${article.title}">
    </h2>
    <div class="wz_text_xx">
        <span>发布时间：</span><span th:text="${article.creationTime}"></span>
        <span class="wz_text_xx_kg"></span>
        <span>作者：</span><span th:text="${article.founder}"></span>
        <span class="wz_text_xx_kg"></span>
        <span>阅读：</span><span th:text="${article.readNumber}"></span>
        <span class="wz_text_xx_kg"></span>
        <span>评论：</span><span>525</span>
    </div>

    <!--文字-->
    <div class="wz_text_font" th:utext="${article.content}">
        　
    </div>
    <div>
        <p style="padding: 10px;font-size: 16px;color: red">
            版权声明：本文版权归作者（<span>邢小白的春天</span>）所有，欢迎转载。但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文连接，否则保留追究法律责任的权利。
        </p>
    </div>
    <div style="padding: 20px">
        <p class="TopXia" style="padding-left: 10px;">上一篇：<span
                class="shang"></span></p>
        <p class="TopXia" style="float: right">下一篇：<span class="xia"></span>
        </p>

    </div>
    </div>


    <div class="bk" style="margin-top: 30px;">
    <div class="liuyan_bt">
        评论列表（共<span id="count"></span>条评论）
    </div>
    <div class="commentTiao">
        <ul class="commentUl">

        </ul>
    </div>

    <!---------------富文本编辑器--------->
    <div style="margin-top: 20px; width: 100%;" id="editor">

    </div>


    <div style="margin-left: 500px;padding-bottom: 20px">
        <button id="btn1" class="layui-btn site-demo-layedit" data-type="content" onclick="saveComment()">提交评论</button>
    </div>

    </div>
</div>

<!------------------------底部------------------------------->
<div th:replace="~{footer::footer}"></div>


<!---------------wangEditor富文本编辑器--------->
<script th:inline="javascript">

    var E = window.wangEditor
    var editor = new E('#editor')
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        'emoticon',  // 表情
        'table',  // 表格
        'code',  // 插入代码
        'undo',  // 撤销
        'redo'  // 重复
    ]
    editor.create();//初始化编辑器


    $(function () {
        Top();//上一篇
        below();//下一篇
        comment();//评论显示
       countComment();//评论条数
    });


    function Top() {
        $.ajax({
            type: 'GET',
            url: '/article/top',
            data: {'id': [[${article.id}]], 'state': 1},
            dataType: 'json',
            success: function (data) {
                if (data.code != 300) {
                    $(".shang").append('<a href=/article/wzck?id=' + data.data[0].id + ' style="color: #01AAED">' + data.data[0].title + '</a>');
                }

            }
        })
    }

    function below() {
        $.ajax({
            type: 'GET',
            url: '/article/below',
            data: {'id': [[${article.id}]], 'state': 1},
            dataType: 'json',
            success: function (data) {

                if (data.code != 300) {
                    $(".xia").append('<a href=/article/wzck?id=' + data.data[0].id + ' style="color: #01AAED">' + data.data[0].title + '</a>');
                }

            }
        })
    }

    function comment() {
        $(".commentUl").empty();//清空评论ul
        $.ajax({
            type: 'GET',
            url: '/comment/findAll',
            data: {'id': [[${article.id}]]},
            dataType: 'json',
            success: function (data) {
                for (var i = data.data.length-1; i >= 0; i--) {
                    $(".commentUl").append(
                    '<li style="padding: 10px" class="yi">\n' +
                        '                <div class="layui-card">\n' +
                        '                    <div class="layui-card-header" >#'+(i+1)+'楼 <span class="spn">'+data.data[i].userName+':</span> <span>'+data.data[i].commentTime+'</span></div>\n' +
                        '                    <div class="layui-card-body">\n' +data.data[i].commentText+' </div>\n' +
                        '                    <div>\n' +
                        '                        <p class="hf"><a href=""><i class="layui-icon">&#xe63a;</i>#回复</a></p>\n' +
                        '                    </div>\n' +
                        '                </div>\n' +
                        '            </li>'
                    )

                }

            }
        });
    }


    function saveComment() {
        $.ajax({
            type: 'POST',
            url: '/comment/saveComment',

            data: {'aId': [[${article.id}]], 'commentText': editor.txt.html()},  //取值
            dataType: 'json',
            success: function (data) {
                editor.txt.html('')
                comment();//刷新评论列表
                countComment();//刷新评论条数
            }

        })
    }

    function countComment() {
        $.ajax({
            type:'GET',
            url: '/comment/countComment',
            data:{'id':[[${article.id}]]},
            dataType: 'json',
            success: function (data) {
               $("#count").html(data.count)
            }

        })
    }
</script>
</body>
</html>
